.main{
	width:100%;
	background-color: skyblue;
	display:flex;
}
.left{
	width: 50%;
	background-color: blue;
	box-shadow: 3px 3px 3px yellow;
	text-align: center;
	margin: 1%;
	padding: 1%;
}
.right{
	width: 50%;
	border:3px solid black;
	box-shadow: 3px 3px 3px yellow;
	margin: 1%;
	padding: 1%;
}
img{
	width:200px;
}
h4,
h3{
	text-align: center;
}
img{
	width: 300px;
	border-style: double;
	border-radius: 10px,solid black;
}
h1,
h2,
h3{
	font-size: 33px;
}
@media only screen and (max-width: 480px){
	.main{
		background-color: blue;
		display:flex;
		justify-content: center;
		text-align: center;
		display:flex;
		flex-direction: column;
	}
	.left{
		width: 100%
		background-color: blue;
		display:flex;
	}
	.right{
		width: 100%
		border:3px solid black;
		box-shadow: 3px 3px 3px yellow;
		margin: 1%;
		padding: 1%;
	}
}
/*@media only screen and (min-width: 320px) and (max-width: 480px){
	.main{
		width: 100%
		background-color: black;
		display:flex;
		justify-content: center;
		text-align: center;
		flex-direction: column;
	}
	.left{
		width: 100%
		background-color: blue;
		display:flex;
		justify-content: center;
		text-align: center;
	}
	.right{
		width: 100%
		border:3px solid black;
		box-shadow: 3px 3px 3px yellow;
		margin: 1%;
		padding: 1%;
	}
	
	
}
*/table,tr,td{
		border: 2px solid pink;
		border-collapse: collapse;
	}
table{
		margin-left: 75px;
	}